<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FRUIT BASKET</title>
  <!--<link rel="icon" href="/images/logo.jpg">-->

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Home</a>
              </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
              <img src="logo1.jfif" alt="logo1" class="brand-image img-circle elevation-3" style="opacity: .8">
              <span class="brand-text font-weight-light">FRUIT BASKET</span>
            </a>
        
            <!-- Sidebar -->
            <div class="sidebar">
              <!-- Sidebar user (optional) -->
              <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <!--<div class="image">
                  <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>-->
                <div class="info">
                  <a href="/" class="d-block">Akhila</a>
                </div>
              </div>

        
              <!-- Sidebar Menu -->
              <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
              
                  <li class="nav-item">
                    <a href="/create" class="nav-link">
                      <i class="nav-icon far fa-circle text-danger"></i>
                      <p class="text">Add Data</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/sales_details" class="nav-link">
                      <i class="nav-icon far fa-circle text-warning"></i>
                      <p>Sales Details</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/update_sales" class="nav-link">
                      <i class="nav-icon far fa-circle text-info"></i>
                      <p>Update Sales</p>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <h1>Add Data</h1>
                  </div>
                  <div class="col-sm-4">

                  </div>
                  <div class="col-sm-4">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active">Add Data</li>
                    </ol>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>
        
            <!-- Main content -->
            <section class="content">
              <div class="row">
                <div class="col-md-4">
                  <form action="/add" method="POST">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">FRUIT BASKET</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div> 
                    <div class="card-body">
                      <div class="form-group">
                        <label >fruit id</label>
                        <input type="text"  name="fr_id" required>
                      </div>
                      <div class="form-group">
                        <label >Fruit Name</label>
                        <input type="text"  name="fruit_name" required>
                      </div>
                      <div class="form-group">
                        <label >Quantity</label>
                        <input type="text"  name="Quantity" required>
                      </div>
                      <div class="form-group">
                        <label >cost price</label>
                        <input type="text"  name="cost_price" required>
                      </div>
                      <div class="form-group">
                        <label>Selling price</label>
                        <input type="text"  name="selling_price" required>
                      </div>

                    <div class="row">
                        <div class="col-4" style="left: -20px; bottom: 10px;">
                          <input type="submit" value="Submit" class="btn btn-success float-right">
                        </div>
                        
                      </div>
                    </form>
                    <div class="col-4" style="right: -230px; bottom: 46.8px;">
                      <a href="/">
                        <input type="button" value="Cancel" class="btn btn-success float-right">
                      </a>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </section>
            <!-- /.content -->
          </div>




    </div>
    <!-- ./wrapper -->
    
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>




<!--<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body align="center">
        <h1 class="c1">ADD NEW FRUIT </h1>
        <form action="/add" method="post">
            <label>FRUIT_ID</label>
            <input type="number" name="fr_id">
            <br>
            <label>FRUIT _NAME  :</label>
            <input type="number" name="fruit_name">
            <br>
            <label>QUANTITY  :</label>
            <input type="number" name="Quantity">
            <br>
            <label>COST_PRICE/KG  :</label>
            <input type="number" name="cost_price">
            <br>
            <label>SELLING_PRICE/KG  :</label>
            <input type="number" name="selling_price">
            <br>
            <button id="submit">SUBMIT</button>
        </form>
        <a href="/" class="c2">HOME</a>
    </body>
</html>-->